@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden; 
}

nav {
  background-color: #222222;
  padding: 6px 0;
  text-align: center;
}

.nav-logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  float: left;
  margin-bottom: -9px;
  margin-left: -12px;
  svg {
    width: 56px;
    fill: #fff;
  }
}

.call-btn {
    color: #fff;
    font-family: "Gilroy - Extra Bold";
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 2px solid #fff;
    padding: 7px 18px;
    margin-top: 3px;
    text-align: center;
    background-color: transparent;
    float: right;
    cursor: pointer;
    transition: all .3s;
    letter-spacing: 0.6px;
  margin-right: 1px;
  &:hover {
    background-color: #b39c72;
    border-color: #b39c72;
  }
}

main {
  padding-top: 70px;
  position: relative;
  overflow: hidden;
}

.plans-title {
  color: #222222;
  font-family: "Gilroy - Extra Bold";
  font-size: 47px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 3px 0px 27px;
  letter-spacing: 2.88px;
}

.plans-sub_title {
  color: #222222;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  margin: 7px 0 1px;
}

.plans-info {
  color: #222222;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
}

.calculate-btn {
  color: #b39c72;
font-family: Gilroy;
font-size: 16px;
font-weight: 300;
  float: right;
  text-decoration: underline;
}

.plans-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: #b39c72;
    font-family: "Gilroy - Extra Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1.12px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 12px;
    &:nth-child(8) {
      padding-bottom: 3px;
    }
    &:nth-child(9) {
      margin-top: 35px;
    }
    &:nth-child(10) {
      margin-top: 30px;
    }
    &:nth-child(12) {
      margin-top: 21px;
    }
    &:nth-child(13) {
      margin-top: 21px;
      margin-bottom: 30px;
    }
    .right {
      color: #222;
      font-size: 16px;
      line-height: 11px;
      display: inline-block;
      text-align: right;
      float: right;
      text-transform: initial;
      letter-spacing: 0;
      margin-right: 2px;
      span {
        color: #b3b3b3;
        font-size: 14px;
        font-weight: 400;
        display: block;
            margin-top: 6px;
      }
    }
  }
}
.clear {
  clear: both;
}

.workers {
    display: inline-block;
    vertical-align: middle;
    max-width: 80px;
    margin: 10px 0;
    opacity: .1;
    text-align: center;
    margin-right: 25px;
  &:nth-child(5), &:nth-child(10) {
    margin-right: 0;
  }
  &:nth-child(7) {
    margin-right: 6px;
  }
  &:nth-child(9) {
    margin-right: 30px;
  }
  &:nth-child(6), &:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10) {
    margin-bottom: 0;
  }
  &.active {
    opacity: 1;
  }
  img {
    width: 100%;
    max-width: 24px;
    display: inline;
    margin: 0 auto;
  }
  p {
    color: #222;
    font-family: "Gilroy - Extra Bold";
    font-size: 10px;
    font-weight: 400;
    min-height: 27px;
    line-height: 16px;
    margin: 7px 0 0;
    text-transform: initial;
      span {
        color: #222222;
        font-family: "Gilroy - Extra Bold";
        font-size: 10px;
        font-weight: 400;
        min-height: 27px;
        line-height: 3;
        }
  }
}

.workers-block {
//  text-align: center;
  margin-top: 8px;
}

.mt-16 {
  margin-top: -19px;
}

.logo-block {
  text-align: right;
  float: right;
  margin-top: -8px;
  img {
    max-height: 20px;
    display: inline-block !important;
    width: auto !important;
    margin: 0 8px;
  }
}

.site-carousel {
  margin-top: 12px;
  position: relative;
  box-shadow: 0 29px 37px rgba(0, 0, 0, 0.12);
//  max-width: 570px;
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    .owl-prev {
      float: left;
      background: url('../images/left.svg') no-repeat center;
      width: 40px;
      height: 69px;
      background-color: #222222;
      transition: 0.2s;
      &:hover {
        background-color: #b39c72;
      }
    }
    .owl-next {
      float: right;
      background: url('../images/right.svg') no-repeat center;
      width: 40px;
      height: 69px;
      background-color: #222222;
      transition: 0.2s;
      &:hover {
        background-color: #b39c72;
      }
    }
  }
}

.submit-btn {
    color: #fff;
    font-family: "Gilroy - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: -3px 5px 25px rgba(1,1,1,.4);
    border-radius: 2px;
    background-color: #28292d;
    padding: 17px 83px;
    border: 0;
    transition: .2s;
    cursor: pointer;
    margin-top: 65px;
    margin-bottom: 68px;
  &:hover {
    box-shadow: -3px 5px 25px rgba(28, 84, 233, 0.4);
    background-color: #1c54e9;
  }
}

.text-center {
  text-align: center;
}

.container-carousel {
  position: relative;
  min-height: 100vh;
  >.owl-dots {
    display: block;
        position: fixed;
    width: 100%;
    z-index: 555;
    bottom: 0;
    left: 0;
    right: 0;
    .owl-dot {
      background-color: #222222;
      width: 33.3333%;
      display: inline-block;
      height: 50px;
      transition: 0.2s;
      border: 1px solid rgba(255, 255, 255, 0.2);
      line-height: 3;
      text-align: center;
      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
      }
      &:hover {
        background-color: #b39c72;
        color: #ffffff;
        span {
          color: #ffffff;
        }
      }
      &.active {
        span {
          color: #b39c72;
        }
        &:hover {
          span {
          color: #ffffff;
          }
        }
      }
      span {
        color: #fff;
        font-family: "Gilroy - Extra Bold";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 1.12px;
      }
    }
  }
  >.owl-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 556;
    .owl-prev {
      background: url('../images/12321.svg') no-repeat;
      width: 8px;
      height: 12px;
      position: absolute;
      top: -31px;
      left: 10%;
      
    }
    .owl-next {
      background: url('../images/4353453.svg') no-repeat;
      width: 8px;
      height: 12px;
      position: absolute;
      top: -31px;
      right: 10%;
      
    }
  }
}

footer {
  background-color: #f7f7f7;
  padding: 17px 0;
  width: 100%;
  margin-bottom: 50px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  li {
      color: #65666a;
    font-family: Gilroy;
    font-size: 13px;
    font-weight: 300;
    line-height: 41px;
      transition: 0.2s;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
      &:hover {
        color: #b39c72;
      }
  }
}

.footer-soc {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  float: right;
  li {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
    a {
      display: block;
      cursor: pointer;
      &.fb {
        background: url('../images/fb.svg') no-repeat center;
        width: 8px;
        height: 16px;
        transition: 0.2s;
        &:hover {
          background: url('../images/fbh.svg') no-repeat center;
        }
      }
      &.tw {
        background: url('../images/twitter.svg') no-repeat center;
        width: 19px;
        height: 14px;
        transition: 0.2s;
        
        &:hover {
          background: url('../images/twitterh.svg') no-repeat center;
          
        }
      }
      &.be {
        background: url('../images/behance.svg') no-repeat center;
        width: 22px;
        height: 14px;
        transition: 0.2s;
        
        &:hover {
          background: url('../images/behanceh.svg') no-repeat center;
          
        }
      }
      &.dribbble{
        background: url('../images/dribble.svg') no-repeat center;
        width: 22px;
        height: 14px;
        transition: 0.2s;
        
        &:hover {
          background: url('../images/dribbleh.svg') no-repeat center;
          
        }
      }
      &.ins{
        background: url('../images/instagram.svg') no-repeat center;
        width: 15px;
        height: 15px;
        transition: 0.2s;
        
        &:hover {
          background: url('../images/instagramh.svg') no-repeat center;
          
        }
      }
    }
  }
}

.registration {
  label {
    display: block;
    position: relative;
    text-align: left;
    margin-top: 10px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #f0f0f0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background: #b39c72;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
    &.active {
      &:after {
            width: 100%;
      }
      span {
          bottom: 16px;
        }
    }
    input {
      color: #000;
      font: 18px/20px "Gilroy-Light", Roboto, sans-serif;
      border: 0;
      display: block;
      width: 100%;
      height: 30px;
      margin-top: 20px;
      &:focus {
        +span {
          bottom: 16px;
        }
      }
    }
    span {
      font-size: 16px;
      font-family: Gilroy;
      line-height: 32px;
       -webkit-transition: all 0.4s;
      transition: all 0.4s;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .submit-btn {
    margin:  20px auto;
  }
}
.mt-35 {
  margin-top: -35px
}
.plans-list li.pt30 {
  padding-top: 30px
}
.ml-auto {
  margin-left: auto;
}

.pl58 {
  padding-left: 58px;
}

.nav-title {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  display: inline-block;
      margin: 8px 0 8px -3px;
}

.logo-footer {
      max-width: 35px;
    margin-top: 15px;
}

.arrow-carousel {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 668;
  .arr-left {
    width: 40px;
    height: 100px;
    background-color: #222222;
    float: left;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #b39c72;
    }
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 48%;
    left: 45%; 
      transform: rotate(-135deg);
    }
  }
  .arr-right {
    width: 40px;
    height: 100px;
    background-color: #222222;
    float: right;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    &:hover {
      background-color: #b39c72;
    }
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 48%;
    left: 45%;
      transform: rotate(50deg) ;
    }
  }
}

.lh1 {
  .plans-list li .right {
    line-height: 1;
  }
}
